/* src/App.css */

/* General Styles */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Header Styles */
.header {
  background: linear-gradient(to right, #003366, #002d3d); /* Gradiente azul marino */
  padding: 20px;
  text-align: center;
  color: white;
}

.header-title {
  margin: 0;
  font-size: 2.5rem;
}

/* NavBar Styles */
.nav {
  background: linear-gradient(to right, #003366, #002d3d); /* Gradiente azul marino */
  padding: 10px;
  text-align: center;
}

.nav-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: inline-flex;
}

.nav-item {
  margin: 0 15px;
}

.nav-item a {
  color: white;
  text-decoration: none;
}

/* ProductGallery Styles */
.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
  background: #f0f0f0; /* Color de fondo claro para contrastar con el azul marino */
  padding: 20px;
  border-radius: 8px;
}

.gallery img {
  width: 200px;
  height: 200px;
  margin: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Footer Styles */
.footer {
  background: linear-gradient(to right, #003366, #002d3d); /* Gradiente azul marino */
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.footer div {
  width: 45%;
}
